In [16]:
import pandas as pd
import unidecode

# !pip install fuzzywuzzy
# !pip install p
from fuzzywuzzy import fuzz

## 1. Merge past donors dataset (K4K sources) with donor organizations (PDF source)
We will use the company name in both sources to try and match companies. We will use fuzzy matching so we can detect cases with similar strings (its likely names will have different versions in the sources)

In [19]:
df_donors = pd.read_pickle('../past_donors/past_donors_clean.pickle')
df_orgs = pd.read_excel('Organizations.xlsx')

In [20]:
def stdr_names(series_original):
    '''Clean company names. To be used in the different files so names are likelier to be matched'''
    series = series_original.copy()
    series = series.astype(str)
    
    series = series.str.upper()
    series = series.str.strip()

    series = series.replace(r'\s+', ' ', regex=True)
    series = series.str.replace(r'[^\w\s]+', '', regex=True)


    series = series.apply(lambda x: unidecode.unidecode(x))

    series = series.str.replace(' QUEBEC ', '')
    series = series.str.replace('CANADA', '')
    series = series.str.replace(' MONTREAL ', '')
    series = series.str.replace('MONTREAL ', '')
    series = series.str.replace(' MONTREAL', '')
    series = series.str.replace(' INC', '')
    series = series.str.replace(' INC ', '')
    series = series.str.replace(' CIE ', '')
    series = series.str.replace(' CIE', '')
    series = series.str.replace(' LTEE', '')
    series = series.str.replace('CORPORATION', '')
    series = series.str.replace('INTERNATIONAL', '')


    return series

In [21]:
df_donors = df_donors[ df_donors.company.notna() ]

In [22]:
df_orgs.NAME = stdr_names(df_orgs.NAME)

df_donors.company = df_donors.company.astype(str)
df_donors.company  = stdr_names(df_donors.company)

In [13]:
pd.merge(df_orgs.NAME.drop_duplicates(), df_donors.company.drop_duplicates(), left_on='NAME', right_on='company')

# 18 matches by exact matching

                          NAME                     company
0                  ARCHAMBAULT                 ARCHAMBAULT
1                       AVERNA                      AVERNA
2                CANADIAN TIRE               CANADIAN TIRE
3   CENTRES DENTAIRES LAPOINTE  CENTRES DENTAIRES LAPOINTE
4                          CGI                         CGI
5                       CORBEC                      CORBEC
6                       DORFIN                      DORFIN
7               ENERGIE CARDIO              ENERGIE CARDIO
8                FIERA CAPITAL               FIERA CAPITAL
9                  FUTURE SHOP                 FUTURE SHOP
10                  JEAN COUTU                  JEAN COUTU
11                      KRUGER                      KRUGER
12  LABORATOIRES CHARLES RIVER  LABORATOIRES CHARLES RIVER
13                    LASSONDE                    LASSONDE
14                        MAXI                        MAXI
15                ROYAL LEPAGE                ROYAL LEPAGE
16                    ULTRAMAR                    ULTRAMAR
17                     WESTJET                     WESTJET

In [14]:
# https://www.datacamp.com/tutorial/fuzzy-string-python


# this for-loop calculates 4 kinds of similarity score, which we will then use to sort the table and manually review the most similar matches to confirm (based on K4K feedback)

def match_comp_names(orgs, donors):

    # orgs = orgs.NAME.drop_duplicates().to_list()
    # donors = donors.company.drop_duplicates().to_list()

    d = 0
    j = 0
    rows = []

    for org in orgs:
        for donor in donors:
            Str1 = org
            Str2 = donor
            Ratio = fuzz.ratio(Str1.lower(),Str2.lower())
            Partial_Ratio = fuzz.partial_ratio(Str1.lower(),Str2.lower())
            Token_Sort_Ratio = fuzz.token_sort_ratio(Str1,Str2)
            Token_Set_Ratio = fuzz.token_set_ratio(Str1,Str2)

            row = [org, donor, Ratio, Partial_Ratio, Token_Sort_Ratio, Token_Set_Ratio]

            rows.append(row)
    
    return rows

In [15]:
rows = match_comp_names(df_orgs.NAME.drop_duplicates().to_list(), df_donors.company.drop_duplicates().to_list())
df_sim = pd.DataFrame(rows, columns = ['org', 'donor', 'Ratio', 'Partial_Ratio', 'Token_Sort_Ratio', 'Token_Set_Ratio'] )
df_sim.to_pickle('similarity_score.pkl')

In [23]:
score = 'Ratio'
df_ratios = df_sim.groupby('org', as_index=False)[score].max()
#df_ratios.merge(df_sim[['org', 'donor', score]], how = 'inner').sort_values(score, ascending = False).head(30)

In [143]:
score = 'Token_Set_Ratio'

df_ratios = df_sim.groupby('donor', as_index=False)[score].max()
#df_token_set_ratio = df_ratios.merge(df_sim[['org', 'donor', score]], how = 'inner').sort_values(score, ascending = False)

In [24]:
score = 'Partial_Ratio'
#df_ratios = df_sim.groupby('org', as_index=False)[score].max()
#df_ratios.merge(df_sim[['org', 'donor', score]], how = 'inner').sort_values(score, ascending = False).head(20)

In [146]:


score = 'Token_Sort_Ratio'

df_ratios = df_sim.groupby('org', as_index=False)[score].max()
df_ratios.merge(df_sim[['org', 'donor', score]], how = 'inner').sort_values(score, ascending = False).head(20)

                             org  Token_Sort_Ratio                       donor
756   CENTRES DENTAIRES LAPOINTE               100  CENTRES DENTAIRES LAPOINTE
1820                 SNC LAVALIN               100                 SNC LAVALIN
1762                ROYAL LEPAGE               100                ROYAL LEPAGE
1272                  JEAN COUTU               100                  JEAN COUTU
1987                         UPS               100                         UPS
925                       DORFIN               100                      DORFIN
839                       CORBEC               100                      CORBEC
1477                      MERCER               100                      MERCER
1626                      PFIZER               100                      PFIZER
1451                        MAXI               100                        MAXI
1023               FIERA CAPITAL               100               FIERA CAPITAL
1216                        IKEA               100                        IKEA
1321  LABORATOIRES CHARLES RIVER               100  LABORATOIRES CHARLES RIVER
1342                    LASSONDE               100                    LASSONDE
726                CANADIAN TIRE               100               CANADIAN TIRE
580                       AVERNA               100                      AVERNA
1060                 FUTURE SHOP               100                 FUTURE SHOP
1308                      KRUGER               100                      KRUGER
2043                     WESTJET               100                     WESTJET
613                          BDO               100                         BDO

In [64]:
# we sort the values and export them to CSV so we can review in excel

th = 70
df_filt = df_sim.query(f''' Ratio > {th} |  Token_Sort_Ratio > {th}  | Token_Set_Ratio > {th}  ''' ).reset_index(drop=True)
df_filt.shape
df_filt.sort_values(['Token_Set_Ratio', 'Ratio'], ascending=False).to_clipboard(index=None)

## 2. Confirm matches based on reviewed excel
After manually confirming the fuzzy matching scores, we will produces the final merged dataset

In [2]:
import pandas as pd

In [38]:
df_donors = pd.read_csv('past_donors_clean.csv', parse_dates=[1])
df_orgs = pd.read_excel('Organizations.xlsx')

# now we read the matches after reviews them and this will become our key to match both sources
df_matches = pd.read_excel('matched_orgs_k4kreview.xlsx')

df_donors.company = stdr_names(df_donors.company)
df_orgs.NAME = stdr_names(df_orgs.NAME)

In [39]:
df_matches = df_matches[df_matches.Match == 1] # keeping only matches
df_matches = df_matches.iloc[:, 0:2]
df_matches.columns = ['ORGANIZATION', 'DONOR']

In [42]:
# some past donors have been matched with more than 1 different company in the PDF source, so we need to select and keep only one so the analysis is consistent.
donor_q = df_matches.DONOR.value_counts()
organization_q = df_matches.ORGANIZATION.value_counts()
df1 = df_matches[df_matches.DONOR.isin(donor_q[donor_q > 1].index)].sort_values('DONOR').reset_index(drop=True)
ixs = [1, 2,5,6,10,11,15,16,18, 21,22] 
df1 = df1.iloc[ixs,:].reset_index(drop=True)

In [43]:
# now we concatenate the matches into a single df
df_matches = pd.concat([ df_matches[df_matches.DONOR.isin(donor_q[donor_q <= 1].index)].sort_values('DONOR').reset_index(drop=True),
            df1 ] )

In [44]:
df_donors_match = df_donors.merge(df_matches, how = 'inner', left_on = 'company', right_on = 'DONOR')

In [45]:
df_donors_match = df_donors_match.merge(df_orgs, how = 'inner', left_on = 'ORGANIZATION', right_on = 'NAME')

In [46]:
df_donors_match = df_donors_match.drop_duplicates().reset_index(drop=True)

In [47]:
df_donors_match.shape

# after matching past donors and organizations PDF, we have 177 rows of data and 32 columns. We should add additiional attributes of the companies that have foundations

(177, 32)

## 3. Adding foundation attributes

In [48]:
df_fonds = pd.read_excel('Foundations.xlsx')

## add foundations dataset attributes

In [62]:
df = df_donors_match.merge(df_fonds, how='left', on='ID', suffixes=('', '_FND'))
df.shape

(177, 53)

In [63]:
#obviously, most companies will have null values in their foundation attributes, but we can still keep the info for the ones that do

In [65]:

df.isna().sum()

company                  0
added_modified           5
dollar_amount_float     11
moneyprize_received     63
donation_details        13
year                     0
ORGANIZATION             0
DONOR                    0
ID                       0
2E CONTACT POUR        174
ADDRESS                  0
AVIS                     6
CONTACT                 10
CONTRIBUTION             0
COURRIEL                39
DDD                      0
DOMAINE DINTERET         0
FAF                     55
FAX                     60
FILIALE DE             144
ISFOUNDATION             0
LANGUE                   0
LIMITES GEOG             1
N DE TEL                 0
NAME                     0
NBRE DE SUCC           177
NOMBRE DEMPLOYES        59
NOTE                    44
POSTE                  168
PRINCIP FILIALES       137
SECTEUR INDUSTRIEL       0
SITE WEB                 0
ACTIF                  148
ADDRESS_FND            143
AVIS_FND               147
CATEGORIE              144
CONTACT_FND            146
COURRIEL_FND           150
DATE APPROB            147
DATE FIN DANN          147
DOMAINES DINTERET      143
ECHELLEDONS            158
ISFOUNDATION_FND       143
LANGUE_FND             143
LIMITES GEOG_FND       174
N DE TEL_FND           146
NAME_FND               143
OU                     171
POSTE_FND              177
PROJETS PRIVILEGIES    143
TEL                    152
TOTAL ANNUEL           147
WEB                    144
dtype: int64